<div>
  <dx-scheduler [dataSource]="appointments" currentView="timelineWorkWeek" [views]="['timelineWorkWeek']"
                [startDayHour]="8"
                [endDayHour]="18"
                [crossScrollingEnabled]="true"
                [cellDuration]="120"
                [groups]="['user']">
    <dxi-resource
      fieldExpr="user"
      [allowMultiple]="false"
      [dataSource]="schedulerUsers"
      label="User"
    ></dxi-resource>
  </dx-scheduler>
  <dx-check-box [value]="true" (valueChange)="setAppointments($event)" text="Switch between all day and non all day" style="margin-top: 20px"></dx-check-box>
</div>
